.MainContainer {
  /* border: solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 15rem; */
  /* width: 500px; */
  /* margin-top: 200px; */
  /* margin-left: 40%; */
  /* text-align: center; */
}

.Form {
  width: 400px;
  /* border: solid black; */
}

span {
  color: #0d4f77;
}

.RadioButton {
  color: #f08222;
  padding-right: 2%;
}

.FaceBook {
  border: #4267b2;
  color: #fff;
  cursor: pointer;
  width: 352px;
  height: 28px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  padding: 16px;
  border-radius: 8px;
  background-color: #4267b2;
  padding-right: 2em;
}

.Username {
  width: 40px;
  height: 24px;
  flex-grow: 0;
  /* font-family: Roboto; */
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #7f7f7f;
}

.Password {
  width: 40px;
  height: 24px;
  flex-grow: 0;
  /* font-family: Roboto; */
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #7f7f7f;
}

.UserField {
  /* height: 58px; */
  /* align-self: stretch; */
  /* flex-grow: 0; */
  /* border-radius: 9px;
  border: solid 1px #7f7f7f;
  width: auto; */
  border-radius: 8px;

  cursor: pointer;
  width: 392px;
  height: 38px;
  font-family: sans-serif;
  font-size: 15px;
  padding: 3px;
  border: 1px solid #7f7f7f;
}

.PassField {
  /* height: 58px;
  
  width: auto; */
  /* align-self: stretch; */
  /* flex-grow: 0; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; */
  /* padding: 14px 16px; */
  /* border-radius: 9px;  */
  border-radius: 8px;

  border: solid 1px #7f7f7f;
  width: 392px;
  height: 38px;
  font-family: sans-serif;
  font-size: 15px;
  padding: 3px;
  cursor: pointer;
}

.Google {
  /* border: solid 1px ; */
  /* width: 400px;
    height: 140px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 0; */
  cursor: pointer;
  width: 352px;
  height: 28px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  padding: 16px;
  border-radius: 8px;
  border: solid 1px #7f7f7f;
  background-color: #fff;
  padding-right: 2em;
}

.SignedIn {
  /* font-family: Roboto-Regular; */
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
}

h1 {
  /* text-align: left;
    border: solid red;
    padding-right: 4em;
    width: 6em; */
/* border: solid red; */
  width: 500px;
  height: 70px;
  flex-grow: 0;
  /* font-family: Roboto; */
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  color: #0d4f77;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.DontHave {
  /* width: 1em;
  height: 24px; */
  flex-grow: 0;
  /* font-family: Roboto; */
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #000;

  position: relative;
  padding-top: 0.7em;
  padding-left: 15.5%;
  right: 0.1;
  /* border: solid red; */
  /* padding-top: 1em; */
}

.Create {
  color: #0d4f77;
}

.ForgotPassword {
  /* border: solid red; */
  width: 128px;
  height: 24px;
  flex-grow: 0;
  /* font-family: Roboto; */
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
  color: #0d4f77;

  position: absolute;
  padding-top: 0.6em;
  padding-left: 15.5%;
  right: 0.1;
}

.ContContainer {
  /* border: solid red; */
  /* position: relative; */
  padding-top: 0.2em;
  padding-right: 2%;
  padding-bottom: 1em;
  /* right: 0.1; */
  width: 400px;
  align-items: left;
}

.Continue {
  /* border: solid black ; */
  cursor: pointer;
  width: 400px;
  height: 58px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* gap: 4px; */
  /* padding: 16px 32px; */
  border-radius: 8px;
  background-color: #f08222;
  border: solid #f08222;
  color: white;
  font-size: 18px;
  font-weight: bold;
  /* padding-left: 5%; */

  border: #4267b2;
  color: #fff;

  /* width: 400px;
  height: 58px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  padding: 16px;
  border-radius: 8px;
  background-color: #4267b2; */
}

.Continue:hover {
  background-color: #b45400;
}

.Sign {
  width: 132px;
  height: 24px;
  flex-grow: 0;
  /* font-family: Roboto; */
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.Security {
  /* border: solid black; */
  /* height: 44px; */
  /* flex-grow: 1; */
  /* font-family: Roboto; */
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  /* text-align: left; */
  /* position: relative; */
  /* padding-top: 0.4em; */
  padding-left: 5%;
  /* right: 0.1; */
}

/* .ButtonContainer {
  border: solid red;
  display: flex;
  flex-direction: column;
} */
