.BigContainer {
    display: flex;
    width: 100%;
    height: 5em;
    /* border: solid red; */
    background-color: #0d4f77;
}

.ContainerItems {
    display: flex;
    justify-content: space-around;

}

.LeftList {
    list-style-type: none;
    color: white;
    display: flex;
    /* margin: 10px; */
    cursor: pointer;
    width: 100vh;
}

.RightList {
    list-style-type: none;
    display: flex;
    width: 100vh;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    cursor: pointer;
}

li {
    margin: 10px;
}