.MainContainer {
  /* display: flex;
  flex-direction: row; */
  /* align-items: flex-start; */
  /* justify-content: space-between; */
  position: absolute;
width: 100%;
background-color: black;
  /* border: solid red; */
  object-fit: contain;
}

.ContainerItems {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  color: white;
  
  
}
